
/* Define light theme */
:root{
    --background-color : #fff;
    --text-color: #333;
    --button-bg-color: #eee;
    --button-text-color: #333;
}

/* Define deafult dark theme */
.dark-theme{
    --background-color: #333;
    --text-color: #fff;
    --button-bg-color: #333;
    --button-text-color: #eee;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    transition: background-color 0.5s, color 0.5s;
}

.container{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}